---
http_interactions:
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/calculation?placeId=0c5b2444-70a0-4932-980c-b4dc0d3f02b5&totalSum=1500&assessedSum=2000&itemsCount=2&totalWeight=1&ticket=77bbc0e3728ef918d991529adfdcfd60
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"postamat":{"minDeliveryTerm":1,"maxDeliveryTerm":2,"addresses":["1-я
        Квесисская улица, 18","9-я Парковая улица, 66с6","Адмирала Лазарева улица,
        2","Азовская улица, 24к3","Академика Янгеля улица, 6к1","Алтуфьевское шоссе,
        70к1","Алтуфьевское шоссе, 95","Багратионовский проезд, 5","Балаклавский проспект,
        7","Барклая улица, 16к1","Большая Тульская улица, 13","Большой Овчинниковский
        переулок, 16","Борисовские Пруды улица, 26","Боровское шоссе, 30","Братиславская
        улица, 14","Вавилова улица, 66","Варшавское шоссе, 1[...]
[...]
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/calculation?placeId=0c5b2444-70a0-4932-980c-b4dc0d3f02b5&totalSum=1500&assessedSum=2000&itemsCount=2&totalWeight=1&ticket=tests-will-autorequest-a-valid-ticket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":true,"errorCode":3,"errorMessage":"ticket: ticket is expired
        or invalid; "}'
  recorded_at: Fri, 16 Jan 2015 20:25:45 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/login/ticket/valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ticket":"202fd1b0188f90a46e23566e5354fd7d", "receiverEmailNotRequired":false}'
  recorded_at: Fri, 16 Jan 2015 20:25:46 GMT
[...]
