---
http_interactions:
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/calculation?placeId=0c5b2444-70a0-4932-980c-b4dc0d3f02b5&totalSum=1500&assessedSum=2000&itemsCount=2&totalWeight=1&ticket=tests-will-autorequest-a-valid-ticket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"53f49af2-663c"'
    body:
      encoding: UTF-8
      string: "<html lang=\"ru-RU\"><head>\r\n<meta charset=\"UTF-8\">\r\n<title>Страница
        не найдена | Checkout</title>\r\n\t\r\n\r\n<link rel=\"profile\" href=\"//gmpg.org/xfn/11\">\r\n\r\n\r\n<link
        rel=\"stylesheet\" type=\"text/css\" media=\"all\" href=\"//www.checkout.ru/wp-content/themes/checkout/login.css?ver=201310312-1\">\r\n<script
        type=\"text/javascript\" async=\"\" src=\"//mc.yandex.ru/metrika/watch.js\"></script><script
        type=\"text/javascript\" async=\"\" src=\"//www.google-analytics.com/ga.js\"></script><script
        type=\"text/javascript\" src=\"//www.checkout.ru/wp-content/themes/checkout/l[...]
- request:
    method: get
    uri: http://platform.checkout.ru/service/login/ticket/valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ticket":"74ad2a241a416d775ee69c01d1e9f8ab", "receiverEmailNotRequired":false}'
  recorded_at: Mon, 06 Oct 2014 22:27:16 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/calculation?placeId=0c5b2444-70a0-4932-980c-b4dc0d3f02b5&totalSum=1500&assessedSum=2000&itemsCount=2&totalWeight=1&ticket=74ad2a241a416d775ee69c01d1e9f8ab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"postamat":{"deliveryRates":{"2":178.18},"declaredValueRates":{"2":0.0},"collectOnDeliveryRates":{"2":30.615159000000002},"commissionValues":{"2":20.8795159},"cost":230.0,"minDeliveryTerm":1,"maxDeliveryTerm":2,"logForBuyer":null,"asessedCostOfDeliveryForIM":0.0,"asessedCostsOfDeliveryForIM":{"2":229.6746749},"deliveryToCalcLog":{"2":{"estimatedValue":"0.0%","deliveryCostForCustomer":"(178.18
        + 0.0 + 0.0 / 1.1 + 1500.0 * 0.0177 + 2000.0 * 0.0 ) / ( 1 / 1.1 - 0.0177)
        = 229.67 руб. С учетом округления в настройках ИМ: 230.0 руб.","cashOnDelivery":"1.77%","weight":"0.4","declaredValue":"2000.0","deliveryCostForIM":"178.18
        + 30.62 + 0.0 + 0.0 + 20.88 = 229.67 руб. ","D_Details":"(178.18 + 0.0 + 0.0
        / 1.1 + 1500.0 * 0.0177 + 2000.0 * 0.0 ) / ( 1 / 1.1 - 0.0177) = 229.67 руб.
        С учетом округления в настройках ИМ: 230.0 руб.","deliveryCostForIm":"178.18
        + 29.7 + 0.0 + 0.0 + 20.79 = 228.67 руб. ","costForCustomer":"1500.0","a0":"0.0177","deliveryMethod":"Доставка
        Постамат","o":"0.0","tariffForDelivery":"151.0 * 1.18 = 178.18","platformComission":"10.0%","city":"Москва","T":"178.18","address":"Смольная
        улица, 63б","tariff":"151.0","a1":"0.0","a4":"0.0","delivery":"PickPoint","x":"1.1"}},"addresses":["1-я
        Квесисская улица, 18","9-я Парковая улица, 66с6","Адмирала Лазарева улица,
        2","Азовская улица, 24к3","Академика Янгеля улица, 6к1","Алтуфьевское шоссе,
        95","Багратионовский проезд, 5","Балаклавский проспект, 7","Барклая улица,
        16к1","Большая Тульская улица, 13","Большой Овчинниковский переулок, 16","Борисовские
        Пруды улица, 26","Вавилова улица, 66","Варшавское шоссе, 146","Варшавское
        шоссе, 152а","Вернадского проспект, 29","Вешняковская улица[...]
