---
http_interactions:
- request:
    method: post
    uri: http://platform.checkout.ru/service/order/create
    body:
      encoding: UTF-8
      string: '{"apiKey":"valid-api-key","order":{"goods":[{"name":"blue
        tshirt","code":"blt","variantCode":"blue","quantity":2,"assessedCost":1000,"payCost":750,"weight":0.5}],"delivery":{"deliveryId":2,"placeFiasId":"0c5b2444-70a0-4932-980c-b4dc0d3f02b5","addressPvz":"Энтузиастов
        ш.,  д. 54","type":"postamat","cost":224.41,"minTerm":2,"maxTerm":11},"user":{"fullname":"Вася
        Пупкин","email":"vasyapupkin@example.com","phone":"555"},"comment":"test order","shopOrderId":"777","paymentMethod":"cash"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"order":{"id":75},"delivery":{"id":2,"serviceName":"PickPoint"}}'
  recorded_at: Sat, 01 Feb 2014 18:58:49 GMT
recorded_with: VCR 2.8.0
