---
http_interactions:
- request:
    method: post
    uri: http://platform.checkout.ru/service/order/create
    body:
      encoding: UTF-8
      string: '{"order":{"goods":[{"name":"blue tshirt","code":"blt","variantCode":"blue","quantity":2,"assessedCost":1000,"payCost":750,"weight":0.5}],"delivery":{"deliveryId":2,"placeFiasId":"0c5b2444-70a0-4932-980c-b4dc0d3f02b5","addressPvz":"1-я
        Квесисская улица, 18","type":"postamat","cost":250,"minTerm":1,"maxTerm":2},"user":{"fullname":"Test
        Order","email":"testorder@example.com","phone":"555"},"comment":"TEST ORDER","paymentMethod":"cash"},"apiKey":"valid-api-key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"order":{"id":88051},"delivery":{"id":2,"serviceName":"PickPoint","cost":"250.0"}}'
  recorded_at: Fri, 16 Jan 2015 20:25:49 GMT
recorded_with: VCR 2.9.3
