---
http_interactions:
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getStreetsByQuery?street=%D0%BC%D0%B0%D1%81&placeId=0c5b2444-70a0-4932-980c-b4dc0d3f02b5&ticket=c77392a5023b556af62788817e9971a6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"suggestions":[{"id":"960972e8-48bb-4837-b0ee-ee0347931b73","name":"Масловка
        Верхн.","type":"ул"},{"id":"ad4b99f0-33da-4661-aa29-057557cf4147","name":"Масловка
        Нижн.","type":"ул"},{"id":"0bc0e187-c55b-4ef9-bd0e-6c23683a1270","name":"Мастеркова","type":"ул"},{"id":"2b453e3c-d908-4608-b81c-a314a687bee3","name":"Мастеровая","type":"ул"}]}'
  recorded_at: Mon, 06 Oct 2014 23:05:13 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getStreetsByQuery?street=%D0%BC%D0%B0%D1%81&placeId=0c5b2444-70a0-4932-980c-b4dc0d3f02b5&ticket=tests-will-autorequest-a-valid-ticket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: 
    headers:
      content-type:
      - text/html;charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.52 (Ubuntu) - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 500 - Unable to find shop by ticket. Ticket tests-will-autorequest-a-valid-ticket
        is expired or invalid</h1><HR size="1" noshade="noshade"><p><b>type</b> Status
        report</p><p><b>message</b> <u>Unable to find shop by ticket. Ticket tests-will-autorequest-a-valid-ticket
        is expired or invalid</u></p><p><b>description</b> <u>The server encountered
        an internal error that prevented it from fulfilling this request.</u></p><HR
        size="1" noshade="noshade"><h3>Apache Tomcat/7.0.52 (Ubuntu)</h3></body></html>'
  recorded_at: Tue, 07 Oct 2014 18:41:09 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/login/ticket/valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ticket":"f7903a07d7ceb5c8fb47e9922a9a1b90", "receiverEmailNotRequired":false}'
  recorded_at: Tue, 07 Oct 2014 18:41:09 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getStreetsByQuery?street=%D0%BC%D0%B0%D1%81&placeId=0c5b2444-70a0-4932-980c-b4dc0d3f02b5&ticket=f7903a07d7ceb5c8fb47e9922a9a1b90
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"suggestions":[{"id":"960972e8-48bb-4837-b0ee-ee0347931b73","name":"Масловка
        Верхн.","type":"ул"},{"id":"ad4b99f0-33da-4661-aa29-057557cf4147","name":"Масловка
        Нижн.","type":"ул"},{"id":"0bc0e187-c55b-4ef9-bd0e-6c23683a1270","name":"Мастеркова","type":"ул"},{"id":"2b453e3c-d908-4608-b81c-a314a687bee3","name":"Мастеровая","type":"ул"}]}'
  recorded_at: Tue, 07 Oct 2014 18:41:09 GMT
recorded_with: VCR 2.8.0
