---
http_interactions:
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPostalCodeByAddress?streetId=2b453e3c-d908-4608-b81c-a314a687bee3&house=13&housing=&building=&ticket=10220effb23d9f0a2b4f2a54a8fd75e2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"postindex":"111524"}'
  recorded_at: Fri, 16 Jan 2015 19:23:29 GMT
[...]
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPostalCodeByAddress?streetId=2b453e3c-d908-4608-b81c-a314a687bee3&house=13&housing=&building=&ticket=tests-will-autorequest-a-valid-ticket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":true,"errorCode":3,"errorMessage":"ticket: ticket is expired
        or invalid; "}'
  recorded_at: Fri, 16 Jan 2015 20:25:47 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/login/ticket/valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ticket":"b58dcd0f026452b8e0af5f33b3046f6e", "receiverEmailNotRequired":false}'
  recorded_at: Fri, 16 Jan 2015 20:25:47 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPostalCodeByAddress?streetId=2b453e3c-d908-4608-b81c-a314a687bee3&house=13&housing=&building=&ticket=b58dcd0f026452b8e0af5f33b3046f6e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"postindex":"111524"}'
  recorded_at: Fri, 16 Jan 2015 20:25:47 GMT
recorded_with: VCR 2.9.3
