---
http_interactions:
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/calculation?placeId=b0122c31-eb1c-40ae-b998-08f9e99a0fa1&totalSum=1500&assessedSum=2000&itemsCount=2&totalWeight=1&ticket=tests-will-autorequest-a-valid-ticket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":true,"errorCode":3,"errorMessage":"ticket: ticket is expired
        or invalid; "}'
  recorded_at: Wed, 28 Jan 2015 00:46:24 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/login/ticket/valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ticket":"211e40247d084107eedfcf4ebc5fffb8", "receiverEmailNotRequired":"false",
        "isCashOnDeliveryOnly":"false"}'
  recorded_at: Wed, 28 Jan 2015 00:46:25 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/calculation?placeId=b0122c31-eb1c-40ae-b998-08f9e99a0fa1&totalSum=1500&assessedSum=2000&itemsCount=2&totalWeight=1&ticket=211e40247d084107eedfcf4ebc5fffb8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":true,"errorCode":4,"errorMessage":"no delivery found for place
        specified"}'
  recorded_at: Wed, 28 Jan 2015 00:46:25 GMT
recorded_with: VCR 2.9.0
