---
http_interactions:
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPlaceByPostalCode?postIndex=111524&ticket=tests-will-autorequest-a-valid-ticket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: 
    headers:
      content-type:
      - text/html
      etag:
      - '"53f49af2-663c"'
    body:
      encoding: UTF-8
      string: "<html lang=\"ru-RU\"><head>\r\n<meta charset=\"UTF-8\">\r\n<title>Страница
        не найдена | Checkout</title>\r\n\t\r\n\r\n<link rel=\"profile\" href=\"//gmpg.org/xfn/11\">\r\n\r\n\r\n<link
        rel=\"stylesheet\" type=\"text/css\" media=\"all\" href=\"//www.checkout.ru/wp-content/themes/checkout/login.css?ver=201310312-1\">\r\n<script
        type=\"text/javascript\" async=\"\" src=\"//mc.yandex.ru/metrika/watch.js\"></script><script
        type=\"text/javascript\" async=\"\" src=\"//www.google-analytics.com/ga.js\"></script><script
        type=\"text/javascript\" src=\"//www.checkout.ru/wp-content/themes/checkout/l[...]
- request:
    method: get
    uri: http://platform.checkout.ru/service/login/ticket/valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ticket":"e62abe6d79704ac392e541fd924e47e7", "receiverEmailNotRequired":false}'
  recorded_at: Mon, 06 Oct 2014 23:06:17 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPlaceByPostalCode?postIndex=111524&ticket=e62abe6d79704ac392e541fd924e47e7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"0c5b2444-70a0-4932-980c-b4dc0d3f02b5","name":"Москва","fullName":"г.
        Москва"}'
  recorded_at: Mon, 06 Oct 2014 23:06:17 GMT
recorded_with: VCR 2.8.0
