---
http_interactions:
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPlaceByPostalCode?postIndex=111524&ticket=tests-will-autorequest-a-valid-ticket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":true,"errorCode":3,"errorMessage":"ticket: ticket is expired
        or invalid; "}'
  recorded_at: Wed, 21 Jan 2015 15:02:35 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/login/ticket/valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ticket":"5a9a1ce9585a9f1a1efde6bb3c72982f", "receiverEmailNotRequired":"false",
        "isCashOnDeliveryOnly":"false"}'
  recorded_at: Wed, 21 Jan 2015 15:02:36 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPlaceByPostalCode?postIndex=111524&ticket=5a9a1ce9585a9f1a1efde6bb3c72982f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"0c5b2444-70a0-4932-980c-b4dc0d3f02b5","name":"Москва","fullName":"г.
        Москва"}'
  recorded_at: Wed, 21 Jan 2015 15:02:36 GMT
recorded_with: VCR 2.9.3
