---
http_interactions:
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPostalCodeByAddress?streetId=2b453e3c-d908-4608-b81c-a314a687bee3&house=13&housing=&building=&ticket=tests-will-autorequest-a-valid-ticket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":true,"errorCode":3,"errorMessage":"ticket: ticket is expired
        or invalid; "}'
  recorded_at: Wed, 21 Jan 2015 15:02:36 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/login/ticket/valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ticket":"42c76427e9abf3ba9b0d19310a222083", "receiverEmailNotRequired":"false",
        "isCashOnDeliveryOnly":"false"}'
  recorded_at: Wed, 21 Jan 2015 15:02:36 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPostalCodeByAddress?streetId=2b453e3c-d908-4608-b81c-a314a687bee3&house=13&housing=&building=&ticket=42c76427e9abf3ba9b0d19310a222083
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"postindex":"111524"}'
  recorded_at: Wed, 21 Jan 2015 15:02:37 GMT
recorded_with: VCR 2.9.3
