---
http_interactions:
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPlaceByPostalCode?postIndex=111524&ticket=ca232bde07fa501f6c5ad80ef8ff4a59
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"0c5b2444-70a0-4932-980c-b4dc0d3f02b5","name":"Москва","fullName":"г.
        Москва"}'
  recorded_at: Fri, 16 Jan 2015 19:23:43 GMT
[...]
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPlaceByPostalCode?postIndex=111524&ticket=tests-will-autorequest-a-valid-ticket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":true,"errorCode":3,"errorMessage":"ticket: ticket is expired
        or invalid; "}'
  recorded_at: Fri, 16 Jan 2015 20:25:48 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/login/ticket/valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ticket":"caf2294289b169f4b6b61c07f80cf7aa", "receiverEmailNotRequired":false}'
  recorded_at: Fri, 16 Jan 2015 20:25:48 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPlaceByPostalCode?postIndex=111524&ticket=caf2294289b169f4b6b61c07f80cf7aa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"0c5b2444-70a0-4932-980c-b4dc0d3f02b5","name":"Москва","fullName":"г.
        Москва"}'
  recorded_at: Fri, 16 Jan 2015 20:25:48 GMT
recorded_with: VCR 2.9.3
