---
http_interactions:
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPlacesByQuery?place=%D0%BC%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&ticket=tests-will-autorequest-a-valid-ticket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":true,"errorCode":3,"errorMessage":"ticket: ticket is expired
        or invalid; "}'
  recorded_at: Wed, 21 Jan 2015 15:02:36 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/login/ticket/valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ticket":"50f6073bc02b2ef2335c726d2fb281b1", "receiverEmailNotRequired":"false",
        "isCashOnDeliveryOnly":"false"}'
  recorded_at: Wed, 21 Jan 2015 15:02:36 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getPlacesByQuery?place=%D0%BC%D0%BE%D1%81%D0%BA%D0%B2%D0%B0&ticket=50f6073bc02b2ef2335c726d2fb281b1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"suggestions":[{"id":"0c5b2444-70a0-4932-980c-b4dc0d3f02b5","name":"Москва","fullName":"г.
        Москва"},{"id":"f1c72b9d-a2d7-45b7-b9f5-2222c12d5164","name":"Москва","fullName":"д.
        Москва (Верхошижемский район, Кировская область)"},{"id":"3605e660-e90e-47d3-b58e-068f24e68145","name":"Москва","fullName":"д.
        Москва (Пеновский район, Тверская область)"},{"id":"26a25efa-4f63-4d4b-8db6-dfc29cdaab24","name":"Москва","fullName":"д.
        Москва (Порховский район, Псковская область)"}]}'
  recorded_at: Wed, 21 Jan 2015 15:02:36 GMT
recorded_with: VCR 2.9.3
