---
http_interactions:
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getStreetsByQuery?street=%D0%BC%D0%B0%D1%81&placeId=0c5b2444-70a0-4932-980c-b4dc0d3f02b5&ticket=0167d23a2ff171faafa798aec81c14eb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"suggestions":[{"id":"960972e8-48bb-4837-b0ee-ee0347931b73","name":"Масловка
        Верхн.","type":"ул"},{"id":"ad4b99f0-33da-4661-aa29-057557cf4147","name":"Масловка
        Нижн.","type":"ул"},{"id":"0bc0e187-c55b-4ef9-bd0e-6c23683a1270","name":"Мастеркова","type":"ул"},{"id":"2b453e3c-d908-4608-b81c-a314a687bee3","name":"Мастеровая","type":"ул"}]}'
  recorded_at: Fri, 16 Jan 2015 19:23:29 GMT
[...]
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getStreetsByQuery?street=%D0%BC%D0%B0%D1%81&placeId=0c5b2444-70a0-4932-980c-b4dc0d3f02b5&ticket=tests-will-autorequest-a-valid-ticket
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":true,"errorCode":3,"errorMessage":"ticket: ticket is expired
        or invalid; "}'
  recorded_at: Fri, 16 Jan 2015 20:25:45 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/login/ticket/valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ticket":"e63490dda008c9af155677a80d868a7d", "receiverEmailNotRequired":false}'
  recorded_at: Fri, 16 Jan 2015 20:25:45 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/checkout/getStreetsByQuery?street=%D0%BC%D0%B0%D1%81&placeId=0c5b2444-70a0-4932-980c-b4dc0d3f02b5&ticket=e63490dda008c9af155677a80d868a7d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"suggestions":[{"id":"960972e8-48bb-4837-b0ee-ee0347931b73","name":"Масловка
        Верхн.","type":"ул"},{"id":"ad4b99f0-33da-4661-aa29-057557cf4147","name":"Масловка
        Нижн.","type":"ул"},{"id":"0bc0e187-c55b-4ef9-bd0e-6c23683a1270","name":"Мастеркова","type":"ул"},{"id":"2b453e3c-d908-4608-b81c-a314a687bee3","name":"Мастеровая","type":"ул"}]}'
  recorded_at: Fri, 16 Jan 2015 20:25:45 GMT
recorded_with: VCR 2.9.3
