---
http_interactions:
- request:
    method: get
    uri: http://platform.checkout.ru/service/order/statushistory/64?apiKey=valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":true,"errorCode":3,"errorMessage":"Order not found"}'
  recorded_at: Fri, 16 Jan 2015 19:26:27 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/order/statushistory/44391?apiKey=valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\"order\":{\n\"id\":\"33195\", \n\"date\":\"7.10.2014\", \n\"totalCost\":1320.0,
        \n\"approximateDeliveryDate\":null},\"user\":{\n\"fullname\":\"Ольга Суржик\",
        \n\"address\":{\n\"postindex\":\"173015\", \n\"place\":\"г. Великий Новгород
        (Новгородская область)\",\n\"street\":\"ул. Псковская\",\n\"house\":\"40\",
        \n\"housing\":\"\", \n\"building\":\"2\", \n\"appartment\":\"7\"}},\"deliveryName\":\"SPSR\",
        \"deliveryHistory\" : [\n\n{\n\"status\":\"Москва - Хранилище неперерегистрированного\",\n\"date\":\"07.10.2014
        17:01:00\"\n},\n\n{\n\"status\":\"Подтвержден\",\n\"date\":\"07.10.2014 19:15:48\"\n},\n\n{\n\"status\":\"Заказ
        прибыл от отправителя в СД и находится на терминале отправления\",\n\"date\":\"08.10.2014
        17:06:00\"\n},\n\n{\n\"status\":\"Заказ получен покупателем\",\n\"date\":\"16.10.2014
        16:25:00\"\n}\n\n]\n}"
  recorded_at: Fri, 16 Jan 2015 20:25:50 GMT
recorded_with: VCR 2.9.3
