---
http_interactions:
- request:
    method: post
    uri: http://platform.checkout.ru/service/order/create
    body:
      encoding: UTF-8
      string: '{"order":{"goods":[{"name":"blue tshirt","code":"blt","variantCode":"blue","quantity":2,"assessedCost":1000,"payCost":750,"weight":0.5}],"delivery":{"deliveryId":2,"placeFiasId":"0c5b2444-70a0-4932-980c-b4dc0d3f02b5","addressPvz":"1-я
        Квесисская улица, 18","type":"postamat","cost":230,"minTerm":1,"maxTerm":2},"user":{"fullname":"Test
        Order","email":"testorder@example.com","phone":"555"},"comment":"TEST ORDER","paymentMethod":"cash"},"apiKey":"valid-api-key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"order":{"id":32873},"delivery":{"id":2,"serviceName":"PickPoint","cost":"230.0"}}'
  recorded_at: Tue, 07 Oct 2014 01:05:45 GMT
- request:
    method: get
    uri: http://platform.checkout.ru/service/order/statushistory/32873?apiKey=valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\"order\":{\n\"id\":\"32873\", \n\"date\":\"7.10.2014\", \n\"totalCost\":1730.0,
        \n\"approximateDeliveryDate\":null},\"user\":{\n\"fullname\":\"Test Order\",
        \n\"address\":{\n\"postindex\":null, \n\"place\":\"г. Москва\",\n\"street\":\"\",\n\"house\":null,
        \n\"housing\":null, \n\"building\":null, \n\"appartment\":null}},\"deliveryName\":\"PickPoint\",
        \"deliveryHistory\" : [\n\n]\n}"
  recorded_at: Tue, 07 Oct 2014 01:05:45 GMT
recorded_with: VCR 2.8.0
