---
http_interactions:
- request:
    method: post
    uri: http://platform.checkout.ru/service/order/87993
    body:
      encoding: UTF-8
      string: '{"order":{"goods":[{"name":"blue tshirt","code":"blt","variantCode":"blue","quantity":2,"assessedCost":1000,"payCost":750,"weight":0.5}],"delivery":{"deliveryId":2,"placeFiasId":"0c5b2444-70a0-4932-980c-b4dc0d3f02b5","addressPvz":"1-я
        Квесисская улица, 18","type":"postamat","cost":250,"minTerm":1,"maxTerm":2},"user":{"fullname":"Петя
        Пупкин","email":"testorder@example.com","phone":"555"},"comment":"TEST ORDER","paymentMethod":"cash"},"apiKey":"valid-api-key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":true,"errorCode":6,"errorMessage":"null"}'
  recorded_at: Fri, 16 Jan 2015 19:26:28 GMT
[...]
- request:
    method: get
    uri: http://platform.checkout.ru/service/order/statushistory/88043?apiKey=valid-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\"order\":{\n\"id\":\"88043\", \n\"date\":\"16.01.2015\", \n\"totalCost\":1750.0,
        \n\"approximateDeliveryDate\":null},\"user\":{\n\"fullname\":\"Test Order\",
        \n\"address\":{\n\"postindex\":null, \n\"place\":\"г. Москва\",\n\"street\":\"\",\n\"house\":null,
        \n\"housing\":null, \n\"building\":null, \n\"appartment\":null}},\"deliveryName\":\"PickPoint\",
        \"deliveryHistory\" : [\n\n]\n}"
  recorded_at: Fri, 16 Jan 2015 20:17:36 GMT
[...]
- request:
    method: post
    uri: http://platform.checkout.ru/service/order/create
    body:
      encoding: UTF-8
      string: '{"order":{"goods":[{"name":"blue tshirt","code":"blt","variantCode":"blue","quantity":2,"assessedCost":1000,"payCost":750,"weight":0.5}],"delivery":{"deliveryId":2,"placeFiasId":"0c5b2444-70a0-4932-980c-b4dc0d3f02b5","addressPvz":"1-я
        Квесисская улица, 18","type":"postamat","cost":250,"minTerm":1,"maxTerm":2},"user":{"fullname":"Test
        Order","email":"testorder@example.com","phone":"555"},"comment":"TEST ORDER","paymentMethod":"cash"},"apiKey":"valid-api-key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"order":{"id":88053},"delivery":{"id":2,"serviceName":"PickPoint","cost":"250.0"}}'
  recorded_at: Fri, 16 Jan 2015 20:25:49 GMT
- request:
    method: post
    uri: http://platform.checkout.ru/service/order/88053
    body:
      encoding: UTF-8
      string: '{"order":{"goods":[{"name":"blue tshirt","code":"blt","variantCode":"blue","quantity":2,"assessedCost":1000,"payCost":750,"weight":0.5}],"delivery":{"deliveryId":2,"placeFiasId":"0c5b2444-70a0-4932-980c-b4dc0d3f02b5","addressPvz":"1-я
        Квесисская улица, 18","type":"postamat","cost":250,"minTerm":1,"maxTerm":2},"user":{"fullname":"Петя
        Пупкин","email":"testorder@example.com","phone":"555"},"comment":"TEST ORDER","paymentMethod":"cash"},"apiKey":"valid-api-key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":true,"errorCode":6,"errorMessage":"null"}'
  recorded_at: Fri, 16 Jan 2015 20:25:49 GMT
recorded_with: VCR 2.9.3
